.blog-index-sidebar {
	height: 100%;
	background-color: #E9E9E9;
	margin-top: 25px;
	padding: 15px 10px 0 25px;
	border-radius: 25px;
}


.blog-index-sidebar-content {
	padding: 15px 0px 0px 2px;
}


.blog-index-sidebar-contact {
	padding: 15px 0px 0px 2px;
}

.subscribe-spacing {
	padding: 0 54px 0 0;
}

.subscribe-btn {
	display: block;
	display: fixed;
}
