.navbar {
	background-color: black;
	font-weight: bold;
	@media screen and (max-width: 770px) {
		padding-bottom: 40px;
}
}

.navbar-inverse, .nav.navbar-nav li a {
   	color: #E31E19;
   	@media screen and (min-width: 770px) {
   	line-height: 70px;
}
}

.navbar-brand {
	margin-right: 15px;
}

@media screen and (max-width: 750px) {
#myNavbar {
	margin-top: 45px;
}
}

#myDropdown {
	line-height: 20px;
}

footer {
	position: relative;
    bottom: -20px;
    margin-bottom: -100px;
}

.footer-copyright-padding {
padding-right: 20px;
}