.navbar {
	background-color: black;
	font-weight: bold;
	@media screen and (max-width: 991px) {
		padding-bottom: 40px;
}
}

.navbar-inverse, .nav.navbar-nav li a {
   	color: #E31E19;
   	@media screen and (min-width: 991px) {
   	line-height: 70px;
}
}

.navbar-brand {
	margin-right: 15px;
}

@media screen and (max-width: 991px) {
#myNavbar {
	margin-top: 45px;
}
}

#myDropdown {
	line-height: 20px;
}

footer {
	background-color: #f5f5f5;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

@import "navbarBreakpoint";