.btn-h1-spacing {
		margin-top: 15px; 
	}

	.email-subscribers-btn {
		margin-left: 5px;
	}

	.form-spacing-top, .edit-box-spacing  {
		margin-top: 25px;
	}

	@media screen and (min-width: 750px) {
	.contact-box-spacing {
		margin-top: 80px;
	}
	}

	@media screen and (min-width: 750px) {
	.location-box-spacing {
		margin-top: 50px;
	}
	}