// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: #D3D3D3;
	color: black;
	margin-bottom:100px;
}

.red, h1, h2, h3, h4 {
	color: #E31E19;
}

.blue {
	color: #0089de;
}

#heading h5, h5, h4, h4 { 
	display: inline; 
}

.glyphicon-pencil, .glyphicon-trash {
	padding: 3px;
}

a {
    color: #0089de;
    cursor: pointer;
    text-decoration: none;
}

#social_share_buttons { 
	display: flex; 
	justify-content: center; 
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

p > iframe {
  width: 100% !important;
  height: 450px !important;
}

// Navigation Bar and Footer

	@import "helper/navFooter";

// Spacing

	@import "helper/spacing";

// Blog 

	@import "helper/blog";
	
	@import "helper/blogSidebar";

	@import "helper/comments";			

// Photos Page 

	@import "helper/photos";

// Tables

	@import "helper/tables";